
body, #pagina-inicial {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    height: 90px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#dc3545 ;
}
.esq{
    float: left;
}
.hd-preto {
    background-color: #000;
    padding: 15px 0;
    height:20px;
}

.header-social-icons {
    gap: 15px;
    color: #fff;
    float:right;
    display: inline-flex;
    margin-top: -0.3%;
    margin-right:10px;
}

.adidas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
 }
 
 .adidas-container img.adidas {
     width: 55px;
 }
 
 .adidas-container img.escudoFlamengoPrincipal{
     width: 40px;
 }
 
 .barra-central {
     width: 2px; /* Largura da barra */
     height: 40px; /* Altura igual às imagens */
     background-color: black; /* Cor da barra */
     margin: 0 10px; /* Espaçamento entre a barra e as imagens */
 }

 .btn-login {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out ;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    text-decoration: none;
  }
  
  .btn-login:hover {
    background-color: black;
    transform: scale(0.98);
  }
  

/* menu */

.nav-button {  
    cursor: pointer;  
    display: flex;
    justify-self: left;
    margin-left: 10px;
}  

.overlay {  
    height: 100%;  
    width: 0;  
    position: fixed;  
    z-index: 1;  
    top: 0;  
    left: 0;  
    background-color:black;  
    overflow-x: hidden;  
    transition: 0.5s;  
    padding-top: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;;  
}  

.overlay-content {  
    position: relative;  
    top: 25%;  
    text-align: center;  
}  

.overlay-content a {  
    font-family: 'Montserrat', sans-serif;

    padding: 8px;  
    text-decoration: none;  
    font-size: 25px;  
    color: #dc3545;  
    display: block;  
    transition: 0.3s;  
}  

.overlay-content a:hover {  
    color: #f1f1f1;  
}  

.closebtn {  
    position: absolute;  
    top: 20px;  
    right: 45px;  
    font-size: 60px;  
    color: #dc3545;  
    transition: 0.3s;  
}  

.closebtn:hover{
    color: #f1f1f1;
}

@media screen and (max-width: 450px) {  
    .overlay-content a {  
        font-size: 20px;  
    }  
    .closebtn {  
        font-size: 40px;  
    }  
}  

/* carrossel */
.card {  
    width: 875px; /* Largura dos cards */
    height:202px;  
    margin: 10px; /* Margem entre os cards */  
    background-color: #f0f0f0;  
    padding: 12px;  
    box-sizing: border-box; /* Para incluir padding e margins no cálculo da largura */   
    box-shadow: 10px 5px 5px rgb(84, 84, 84);
    border-radius: 25px;
    margin-top: 40px;
    
    
}




/* .titulos{
    height:auto;
    justify-items: center;
}
.card-title{
    font-size: 4rem;
    font-weight:800;
    line-height:1.2em;
    letter-spacing:0.05em;
    margin-block: 0;
    background: linear-gradient(3deg, #000000 12.5%, #ff0000 105.28%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
.card-content{
    display:flex;
    justify-content: space-between;
}
.img-card{
    height:180px;
    width:200px;
    border-radius: 15px;
} */




.titulos {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* Cartões de Conquistas */
.card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.trofeu-icon {
    width: 110px;
    height: auto;
    margin-right: 20px;
}

.supercopa{
    width: 90px;
    height: auto;
    margin-right: 32px;
    margin-left: 10px;
}

.liberta{
    width: 70px;
    height: auto;
    margin-right: 45px;
    margin-left: 15px;

}

.recopa{
    width: 80px;
    height: auto;
    margin-right: 32px;
    margin-left: 10px;

}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    
    font-size: 3rem;
    font-weight: bold;
    color: #dc3545; /* Azul para destacar o número */
}

.card-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    margin-top: 5px;
}

.card-dates {
    font-size: 1rem;
    color: #666666;
    margin-top: 8px;
}

.card-image {
    display: flex;
    margin-right: -20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    height: 200px;
    background-color: black;
}

.card-image img {
    height: auto;
    width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.3s ease;
}

.card-image img:hover {
    transform: scale(1.05);
}
.btn-login {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out ;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    text-decoration: none;
  }
  
  .btn-login:hover {
    background-color: black;
    transform: scale(0.98);
  }


  .ft-preto{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-bottom:5px;
    margin-top: 150px;
    background-color: #000;
    height: auto;
    flex-wrap:wrap;
}
.ft-preto span{
    margin-top: 30px;
    font-size:20px;
    color:#ff0019;
    font-family: 'Montserrat', sans-serif;
}


.ft-preto ul{
    list-style-type:none;
    display:flex;
    padding:0;
    flex-wrap:wrap;
    gap:10px;
}
.ft-preto ul li{
    margin-right:10px;
}