
/* Estilos do body */
/* Estilos do body */
body {
    margin: 0;
    width: 100%;
    transition: background 0.5s ease-in-out;
    cursor: url("remo(1).png"), auto;

}

/* Estilos do #pagina-inicial */
#pagina-inicial {
    margin: 0;
    position: fixed; /* Fixado para cobrir a tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background: repeating-linear-gradient(
        0deg,
        #bd0000,
        #bd0000 85px,
        black 70px,  
        black 175px
    );
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


.logo {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: drop-shadow(7px 7px 3px rgba(0,0,0,0.25));
    justify-content: center; 
    align-items: center;
}

.logo:hover {
    filter: brightness(1.5) drop-shadow(15px 14px 6px rgba(0,0,0,0.45));
    transform: scale(1.1);
    /* cursor: pointer; */
}



/* Estilos para a nova página */
/* Estilos para a nova página */
#pagina-nova {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    opacity: 0; /* Iniciar invisível */
    transition: opacity 0.5s ease-in-out; /* Transição de opacidade */
    overflow: auto;
    
}


header{
    height: 90px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#dc3545 ;
}
/* nav{
    justify-content: center;
    display:flex;
    gap:80px;
} */

.hd-preto {
    background-color: #000;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para redes sociais */
.header-social-icons {
    display: flex;
    gap: 10px;
    color: #fff;
}

.header-social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* Logo e container adidas */
.adidas-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 10%;
}

.adidas-container img.adidas {
    width: 55px;
}

.adidas-container img.escudoFlamengoPrincipal{
    width: 40px;
}

.barra-central {
    width: 2px; /* Largura da barra */
    height: 40px; /* Altura igual às imagens */
    background-color: black; /* Cor da barra */
    margin: 0 10px; /* Espaçamento entre a barra e as imagens */
}

/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.navegador{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    
}



.navbar-navegador {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}



.navbar-navegador li {
    position: relative;
    margin: 0 15px;
}

/* Estilos para os links */
.navbar-navegador li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}




/* Dropdown */
.navbar-navegador .lista:hover .lista-menu {
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    top: 100%;
    left: 0;
    min-width: 150px;
    list-style: none;
}

.lista-menu li {
    padding: 5px 0;
}

.lista-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.lista-menu li a:hover {
    transform: scale(110%);
}

#footer{
    background-color:black;
    height: 90px;
    width: 100%;
}
#janela{
    display:grid;
    /* margin-top: 70px; */
    padding-top: 150px;
    grid-template-columns: 450px 550px ;
    grid-template-rows:550px 550px ;
    grid-template-areas:"sozinha topo"
                        "sozinha baixo";
    justify-content: center;
    gap:20px;
    border-radius: 15%;
    padding-bottom:100px;
}
.noticias1{
    grid-area: sozinha;
    background: url('camisanova.avif');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    border: 1px solid red;
    transition: transform 0.3s ease-in-out;
}
.noticias2{
    grid-area: topo;
    background-image:url('fcfa9378-8aa0-447b-b291-e6894d41d2b4.png');
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: top;
    border: 1px solid red;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: end;
}
.noticias3{
    grid-area: baixo;
    background-image: url('gerson&gabi.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    border: 1px solid red; 
    transition: transform 0.3s ease-in-out;
}

.ft-preto{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom:5px;
    margin-top: 150px;
    background-color: #000;
    height:30vh;

}

.noticias1:hover, .noticias2:hover, .noticias3:hover{
  transform: scale(0.98);
}

.opacidade{
    display: flex;
    justify-content: center;
    justify-items: center;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    
}

.noticia2txt {
    text-align: center;
     /* Centraliza o conteúdo dentro da div */
}

.placar {
    display: flex; /* Usa Flexbox para colocar os itens lado a lado */
    /* justify-content: center; Centraliza o conteúdo do placar */
    align-items: center; /* Alinha verticalmente */
    margin-left: 5px;
}

#cru{
margin-bottom: 5px;
}
.placar p {
    margin: 0 10px; /* Espaçamento entre o placar e as imagens */
    font-size: 30px;
    color:white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;

}

.textocruzeiro {
    margin-top: 10px; /* Adiciona um pequeno espaço entre o placar e o texto */
    font-size: 20px; /* Ajuste de tamanho do texto */
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-left: 4px;
} 

/* login----------*/
.btn-login {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out ;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
  }
  
  .btn-login:hover {
    background-color: black;
    transform: scale(0.98);
  }
  

/* menu */

.nav-button {  
    cursor: pointer;  
    display: flex;
    justify-self: left;
    margin-left: 10px;
}  

.overlay {  
    height: 100%;  
    width: 0;  
    position: fixed;  
    z-index: 1;  
    top: 0;  
    left: 0;  
    background-color:black;  
    overflow-x: hidden;  
    transition: 0.5s;  
    padding-top: 60px;
    border-radius: 10px;  
}  

.overlay-content {  
    position: relative;  
    top: 25%;  
    text-align: center;  
}  

.overlay-content a {  
    padding: 8px;  
    text-decoration: none;  
    font-size: 25px;  
    color: white;  
    font-family: 'Oswald', sans-serif;
    display: block;  
    transition: 0.3s;  
}  

.overlay-content a:hover {  
    color: #f1f1f1;  
}  

.closebtn {  
    position: absolute;  
    top: 20px;  
    right: 45px;  
    font-size: 60px;  
    color: white;  
}  

@media screen and (max-width: 450px) {  
    .overlay-content a {  
        font-size: 20px;  
    }  
    .closebtn {  
        font-size: 40px;  
    }  
}  


/* slider */

#dvSlider{
	width:600px;
	height:300px;
    display: flex;
    float: left;
	border:1px solid black;
	margin:auto
}

/* carrossel */

.carousel {  
    display: flex; /* Para alinhar os cards em linha */  
    overflow: hidden; /* Para ocultar os cards fora do container */  
    width: 100%; /* Largura total do carrossel */  
    position: relative; /* Para que os botoes fiquem posicionados em relação a este container */  
}  

.card {  
    width: 400px; /* Largura dos cards */  
    margin: 10px; /* Margem entre os cards */  
    background-color: #f0f0f0;  
    padding: 20px;  
    box-sizing: border-box; /* Para incluir padding e margins no cálculo da largura */  
    transition: transform 0.5s; /* Transição suave ao mover os cards */  
}  

#prev {
    
    }  

#next {  
    
}

.botoes{
    display: flex;
    justify-content: center;
}





